CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
Doxyfile
doc_doxygen/
.vscode/
Makefile
cmake_install.cmake
libimage.a
pruebamia
pruebarotacion
pruebapegado
ruta_aerea
/test
libalmacen_rutas.a
pruebapintar
R1.ppm
R3.ppm
R4.ppm
R5.ppm
mascara_R1.pgm
mascara_R3.pgm
mascara_R4.pgm
mascara_R5.pgm
prueba_almacen_rutas
prueba_pais
prueba_paises
prueba_punto
prueba_ruta
./datos/src/pruebamia.cpp
R2.ppm
mascara_R2.pgm